body{
	padding-top:20px;
}


.landing-page{
	background-image: url("http://eskipaper.com/images/cliff-9.jpg");
	width:100%;
	display:block;
	margin: auto;
}

.info{
	background:#E6E4E6;
	color:black;
	height:50px;
}

.introImage{
	width:100%;
	display:block;
	size:100% auto;
	opacity: .7;
}


.ul{
	text-align: center;
}

.profilePic{
	width:200px;
	height:200px;
	padding:5px 5px;
}

.nav{
	background: #232323;
}

.aboutMe{
	background:#232323;
	height:200px;
	color:white;
}
.container{
	background:black;
	padding-bottom: 0px;
}

hr{
	border-top: 3px double #75e1ef;
	margin:auto 50px;
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(117, 225, 239, 0.5);
}
