body{
font-family:'Droid Serif';
background: #232323;
}

.welcome{
	background:#E37222;
	margin-top: 50px;
}

.portfolio{
	color:black;
	background:white;
}

.aboutMe{
	background:#07889B;
}

.contact{
	background:#EEAA7B;
}

.row{
	margin:0px auto;
}	



.col-lg-12{
	padding: 0px 0px;
}

.row .row{
	display:flex;
	flex-wrap:wrap;
}

/*When hovered over */
.thumbnail:hover{
border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}
window.scroll({
  top: 2500, 
  left: 0, 
  behavior: 'smooth' 
});

// Scroll certain amounts from current position 
window.scrollBy({ 
  top: 100, // could be negative value
  left: 0, 
  behavior: 'smooth' 
});

